/**
 * WEBFONTS
 * ==========================================================================*/
@font-face {
  font-family: 'PlainBlack';
  src: url('../fonts/plainblack.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RI.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RBI.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url('../fonts/LinBiolinum_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Biolinum';
  src: url('../fonts/LinBiolinum_RI.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/**
 * BASE STYLES
 * ==========================================================================*/

body {
  font-family: 'Linux Biolinum', sans-serif;
  font-size: 1.125em;
  padding: 0 1em;
}

a {
  text-decoration: none;
}

abbr {
  text-transform: lowercase;
  font-variant: small-caps;
  text-decoration: none;
  border-bottom: none;
}

abbr[title] {
  border-bottom-color: #999;
  cursor: help;
}

code, pre {
  font-family: 'source code pro', monospace;
}

code {
  font-size: 0.77778em;
}

h1, h2, h3, h4, h5, h6,
.example {
  font-family: 'Linux Libertine', 'Times New Roman', 'Georgia', serif;
}

hr {
  background: transparent url("../img/ornament.svg") no-repeat scroll center center / contain;
  background-size: contain;
  border: 0;
  display: block;
  height: 2em;
  margin: 3em 0;
  width: 100%;
}

input[type=checkbox] {
  margin-right: .5em;
}

li {
  padding-left: 1em;
}

ol, ul {
  padding: 0;
  margin-left: 1em;
}

table {
  width: 100%;
}

td, th {
  padding: .5em;
  vertical-align: top;
}

th {
  border-bottom: 1px solid #000;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 7em;
  padding: .5em .83333em;
  margin: 0 -1em;
  border: 3px solid #ccc;
  border-radius: 3px;
}

/**
 * BLOCKS & MODULES
 * ==========================================================================*/
#wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 35em; /* 630px */
}

#masthead,
#page-footer {
  padding: 3em 0;
  text-align: center;
}

#main-nav ul {
  padding-left: 0;
}

#main-nav li {
  display: inline-block;
  padding-top: 1em;
  padding-left: 0;
  list-style: none;
}

#main-nav li::after {
  cursor: default;
  content: '\b7';
  padding: 0 .75em;
}

#main-nav li a {
  color: #00e;
  padding-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  transition: border .5s;
}

#main-nav li.active a,
#main-nav li a:hover {
  border-bottom: 1px solid #ccc;
  transition: border .25s;
}

#main-nav li.active a {
  color: #003;
}

#main-nav li:last-child::after {
  content: none;
  padding-right: 0;
}

.page-title {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  height: 4em;
  width: 100%;
  background: transparent url("../img/logo.svg") no-repeat scroll center center / contain;
}

.tagline {
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
}

.example,
.highlight {
  background: #f0f0f0;
  border-radius: .5em;
}

.example {
  margin: 1em -1em;
  padding: .1px 1em;
}

.highlight {
  font-family: monospace;
  line-height: 1.75;
  margin: 1.3333em -1.3333em;
  padding: 0.1px 1.3333em;
}
